
* {
    margin : 0;
    padding : 0;
    color: white;
    user-select: none;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.board{
    display: flex;
    flex-direction: row;
}

.list{
    width: 250px;
    height: 100vh;
    background-color: #1b1b1b;
}

.list input{
    margin-bottom: 10px;
    width: 100%;
    border : none;
    color: black;
    height: 34px;
    padding: 0 10px 0 10px;
    border-radius: 10px 10px 10px 10px;
}
.list input:focus{
    outline: none;
}
.list ul{
    background:#1b1b1b;
    height: 100%;
    width:100%;
    list-style: none;
}

.list ul li{
    line-height: 45px;
    border-bottom:1px solid rgba(255,255,255, 0.1);
}

.list ul li .item{
    text-decoration: none;
    color:white;
    text-decoration: none;
    font-size: 14px;
    padding-left: 25px;
    font-weight: 100;
    display: block;
    width : 100%;
    border-left: 3px solid transparent;
}
.list ul .item:hover{
    background-color: #1e1e1e;
}
.list ul li.active .item{
    color: cyan;
    background-color: #1e1e1e;
    border-left-color: cyan;
}

.detail{
    width : 960px;
    height: 100vh;
    background-color: white;
    padding-left: 50px;
    padding-top: 60px;
}

.detail div{
    color : black !important;
}

.detail .page .top{
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.detail .page .top .title{
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 700;
}

.detail .page .top .description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4) !important;
    font-weight: 500;
}

.detail .page .middle{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.detail .page .middle .type{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 3px 0 3px 0;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    color: white !important;
    margin-right: 10px;
}
.detail .page .middle .get{
    background-color: blue;
}
.detail .page .middle .post{
    background-color: rgb(138, 207, 0);
}
.detail .page .middle .petch{
    background-color: navy;
}
.detail .page .middle .delete{
    background-color: red;
}
.detail .page .middle .url{
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0px 5px 7px;
    color: rgba(0, 0, 0, 0.8) !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.detail .page .bottom .wrapper{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding : 20px 15px 20px 15px;
    border-radius: 5px;
}

.detail .page .bottom .wrapper ul{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding : 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.detail .page .bottom .wrapper ul li{
    color: black;
}
.detail .page .bottom .wrapper ul .name{
    width: 150px;
    color: rgba(0, 0, 0, 0.8);
}
.detail .page .bottom .wrapper ul .dataType{
    margin-right: 20px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    letter-spacing: 1px;
}
.detail .page .bottom .wrapper ul .description{
    color: rgba(0, 0, 0, 0.7);
}